*{
	margin: 0;
	padding: 0;
}
body{
	background:url(../img/fesaragon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
}

header, .cuerpo, footer{
	width:90%;
	max-width: 1000px;
	margin:20px auto;
}
header nav{
	background:#528fd5;
	overflow: hidden;
}
header nav ul{
	list-style:none;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}
header nav ul li a:hover{
	background:#75acec;
}


header nav li a:hover{
	background-color:#434343;
}
header nav li ul{
	display: none;
	position: absolute;
	background-color:#ccc; 
}
header nav li:hover >ul{
	display: block;
}
.cuerpo .articles{
	width: 90%;
	float: left;
	padding: 10px 10px 10px 10px;
}
.cuerpo .articles article{
	position: center;
	padding: 20px;
	background: rgba(153, 163, 164, .7);
	margin-bottom:20px;
}
footer{
	position: bottom;
	background: #000;
	color: #fff;
	clear: both;
	padding: 10px 10px
}
h2{

	font-family: "Castellar";
}
h3{
	font-family: "Arial";
}
p{
	font-family: "Century Gothic";
}
ul{
	font-size: 16px;
	font-family: "Century Gothic";
	padding-left: 20px;
}
ol{
	font-family: "Calibri";
	padding-left: 40px;
}
li{
	padding-bottom: 5px;
}