*{
	margin: 0;
	padding: 0;
}

body{
	font-family: calibri, arial;
	background:url(../img/fesaragon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
}
.caja_padre{

	position: relative;
}
.caja{
	position: absolute;
	top: 60%;
	bottom: 0;
	left: 40%;
	right: 0;
}
.fondo{
	width: 100%;
	height: 500px;
	border-radius: 10px;
	border:5px dotted #FFF;
}
.foto{
	width: 40%;
	border-radius: 50%;
	
}
.mascota{
	width: 40%;
	border-radius: 6px;
	padding: 0 30%;
}

header, .cuerpo, footer{
	width:90%;
	max-width: 1000px;
	margin:20px auto;
}
header nav{
	background:#528fd5;
	overflow: hidden;
}
header nav ul{
	list-style:none;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}
header nav ul li a:hover{
	background:#75acec;
}


header nav li a:hover{
	background-color:#434343;
}
header nav li ul{
	display: none;
	position: absolute;
	background-color:#ccc; 
}
header nav li:hover >ul{
	display: block;
}

.cuerpo .articles{
	width: 95%;
	float: left;
	padding: 10px 10px 10px 10px;
}
.cuerpo .articles article{
	padding: 20px;
	background: rgba(153, 163, 164, .8);
	margin-bottom:20px;
}
footer{
	position: bottom;
	background: #000;
	color: #fff;
	clear: both;
	padding: 10px 10px
}
h1{
	font-size: 1.5em;
	font-family: arial;
	padding: 5% 20%;
	color: black;
}
h2{
	font-size: 1em;
	font-family:arial;
}
h3{
	font-size: 1em;
	font-family: arial;
}
p{
	font-family: arial;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: underline;
	color:blue;

}
